src/main/resources/wsdl/wsPulsar.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.orchestrator2pulsar.asa.comviva.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.orchestrator2pulsar.asa.comviva.com/" name="PulsarInterfaceService">
	<types>
		<!--xsd:schema-->
			<!--xsd:import namespace="http://ws.orchestrator2pulsar.asa.comviva.com/" schemaLocation="http://10.46.157.202:8880/wsPulsar?xsd=1"/ -->

			<xs:schema xmlns:tns="http://ws.orchestrator2pulsar.asa.comviva.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.orchestrator2pulsar.asa.comviva.com/">

				<xs:element name="sendMessage" type="tns:sendMessage"/>

				<xs:element name="sendMessageResponse" type="tns:sendMessageResponse"/>

				<xs:complexType name="sendMessage">
					<xs:sequence>
						<xs:element name="arg0" type="tns:messageData" minOccurs="0"/>
						<xs:element name="arg1" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>

				<xs:complexType name="messageData">
					<xs:sequence>
						<xs:element name="messageId" type="xs:string" minOccurs="0"/>
						<xs:element name="operationName" type="xs:string" minOccurs="0"/>
						<xs:element name="originName" type="xs:string" minOccurs="0"/>
						<xs:element name="parameters">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="key" minOccurs="0" type="xs:string"/>
												<xs:element name="value" minOccurs="0" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="serviceName" type="xs:string" minOccurs="0"/>
						<xs:element name="siteName" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>

				<xs:complexType name="sendMessageResponse">
					<xs:sequence>
						<xs:element name="return" type="tns:requestResponse" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>

				<xs:complexType name="requestResponse">
					<xs:sequence>
						<xs:element name="messageId" type="xs:string" minOccurs="0"/>
						<xs:element name="resultCode" type="xs:string" minOccurs="0"/>
						<xs:element name="resultDescription" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:schema>

		<!--/xsd:schema-->
	</types>
	<message name="sendMessage">
		<part name="parameters" element="tns:sendMessage"/>
	</message>
	<message name="sendMessageResponse">
		<part name="parameters" element="tns:sendMessageResponse"/>
	</message>
	<portType name="PulsarInterface">
		<operation name="sendMessage">
			<input wsam:Action="http://ws.orchestrator2pulsar.asa.comviva.com/PulsarInterface/sendMessageRequest" message="tns:sendMessage"/>
			<output wsam:Action="http://ws.orchestrator2pulsar.asa.comviva.com/PulsarInterface/sendMessageResponse" message="tns:sendMessageResponse"/>
		</operation>
	</portType>
	<binding name="PulsarInterfacePortBinding" type="tns:PulsarInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="sendMessage">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="PulsarInterfaceService">
		<port name="PulsarInterfacePort" binding="tns:PulsarInterfacePortBinding">
			<soap:address location="http://10.46.157.202:8880/wsPulsar"/>
		</port>
	</service>
</definitions>